@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-3xs: 24px;
  --font-size-2xs: 25px;
  --font-size-xs: 30px;
  --font-size-sm: 32px;
  --font-size-base: 40px;
  --font-size-lg: 50px;
  --font-size-xl: 55px;
  --font-size-2xl: 64px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-turquoise: #63cff2;
  --color-violet: #048ff3;
  --color-gray: #2363ad;
  --color-indigo: #1c57f0;

  /* border radiuses */
  --br-xs: 10px;
  --br-sm: 15px;
  --br-md: 176px;
  --br-lg: 307.6px;
}
