@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.vULTUREPIDiv {
  position: absolute;
  top: 0;
  left: 102.61px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 187.96px;
  height: 83px;
  opacity: 0;
}
.vULTUREPIDiv.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.loginBtnDiv {
  left: 0;
  background-color: var(--color-white);
  width: 207.01px;
}
.lOGINB,
.loginBtnButton,
.loginBtnDiv {
  position: absolute;
  top: 0;
  height: 83px;
}
.lOGINB {
  left: 15.33px;
  font-size: var(--font-size-xs);
  display: flex;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 176.34px;
}
.lOGINB:hover {
  color: var(--color-turquoise);
}
.loginBtnButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 1121px;
  width: 207.01px;
}
.aBOUTButton,
.loginBtnButton:hover {
  cursor: pointer;
}
.aBOUTButton {
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 1772px;
  font-size: var(--font-size-xs);
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170.68px;
  height: 83px;
}
.aBOUTButton:hover,
.sIGNUPButton:hover {
  color: var(--color-turquoise);
}
.logoIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 102.61px;
  height: 79.64px;
  object-fit: cover;
}
.sIGNUPButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 15.33px;
  font-size: var(--font-size-xs);
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 176.34px;
  height: 83px;
}
.loginBtnButton1,
.loginBtnDiv2 {
  position: absolute;
  top: 0;
  width: 207.01px;
  height: 83px;
}
.loginBtnButton1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 1350px;
}
.loginBtnButton1:hover {
  cursor: pointer;
}
.loginBtnDiv2 {
  left: 13px;
  background-color: var(--color-white);
}
.hOMEA {
  cursor: pointer;
  text-decoration: none;
  left: 0;
  font-size: var(--font-size-xs);
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 176.34px;
}
.hOMEA:hover {
  color: var(--color-turquoise);
}
.hOMEA,
.loginBtnButton2,
.menuBar {
  position: absolute;
  top: 0;
  height: 83px;
}
.loginBtnButton2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 1577px;
  width: 220.01px;
}
.loginBtnButton2:hover {
  cursor: pointer;
}
.menuBar {
  left: 35px;
  width: 1942.68px;
}
.frameDiv,
.rectangleDiv {
  position: absolute;
  width: 1978px;
}
.frameDiv {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  height: 2378px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xs);
}
.rectangleDiv {
  top: 2094px;
  left: 4px;
  background-color: var(--color-violet);
  height: 284px;
}
.fEATURESB {
  position: absolute;
  top: 156px;
  left: 10px;
  font-size: var(--font-size-xl);
  display: flex;
  color: var(--color-violet);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 388.89px;
  height: 134.57px;
}
.whenItComesToFeaturesThe {
  margin: 0;
  position: absolute;
  top: 357px;
  left: 58px;
  font-weight: 300;
  display: inline-block;
  width: 1113px;
  height: 723px;
}
.email11 {
  position: absolute;
  top: 1551px;
  left: 58px;
  width: 79px;
  height: 51px;
  object-fit: cover;
}
.innovationinfinite8gmailcom {
  text-decoration: none;
  position: absolute;
  top: 1554px;
  left: 170px;
  font-weight: 300;
  color: inherit;
  display: inline-block;
  width: 602px;
}
.call1Icon,
.div {
  position: absolute;
}
.call1Icon {
  top: 1677px;
  left: 58px;
  width: 79px;
  height: 89px;
  object-fit: cover;
}
.div {
  top: 1698px;
  left: 170px;
  font-weight: 300;
  display: inline-block;
  width: 602px;
}
.linkedin1Icon {
  position: absolute;
  top: 1841px;
  left: 58px;
  width: 83px;
  height: 85px;
  object-fit: cover;
}
.tanmay25bijalwangmailcomSpan {
  text-decoration: underline;
}
.tanmay25bijalwangmailcom {
  color: inherit;
}
.eMailTanmay25bijalwangmai {
  margin-block-start: 0;
  margin-block-end: 0;
}
.blankLineP {
  margin: 0;
}
.allTheContentsUsedInThis,
.footerDiv {
  position: absolute;
  width: 1978px;
  height: 282px;
}
.allTheContentsUsedInThis {
  top: 0;
  left: 0;
  display: inline-block;
}
.footerDiv {
  top: 2096px;
  left: 10px;
  font-size: var(--font-size-2xs);
  color: inherit;
}
.linkedinTanmayBijalwan {
  text-decoration: none;
  position: absolute;
  top: 1855px;
  left: 177px;
  font-weight: 300;
  color: inherit;
  display: inline-block;
}
.heroSectionPhoto {
  position: absolute;
  top: 1269px;
  left: 1299px;
  width: 619.32px;
  height: 649px;
  object-fit: cover;
}
.forAnyIssueRelatedToTheS {
  margin: 0;
  position: absolute;
  top: 1373px;
  left: 49px;
  font-weight: 300;
  display: inline-block;
  width: 1113px;
}
.heroSectionPhoto1 {
  position: absolute;
  top: 267px;
  left: 1313px;
  width: 619.32px;
  height: 649px;
  object-fit: cover;
}
.cONTACTUSB {
  position: absolute;
  top: 1159px;
  left: 49px;
  font-size: var(--font-size-xl);
  display: flex;
  color: var(--color-violet);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 388.89px;
  height: 134.57px;
}
.servicesPageSection {
  position: relative;
  width: 100%;
  height: 2378px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
